<div style="display: none" id="promptContent">
<span>Student. Programmer. Socialist. ACGN. Maybe brilliant.</span>
<span>Computer Science.</span>
<span>Computer System Engineering.</span>
<span>Computer Architecture.</span>
<span>Formal Verification.</span>
<span>Amateur Electronics Engineering.</span>
<span>Go, Kotlin, Lean, Rust, Scala, TypeScript, OCaml.</span>
</div>

<div style="position: relative; display: flex; flex-direction: column; align-items: center; gap: 1vh; text-align: center">

<div style="height: 100vh">
<div style="height: 15vh"></div>

<img src="/assets/img/avatar_round.png" width="230" alt="logo"/>
<p style="font-size: 200%"><span style="font-weight: bolder">Jelly Terra λ</span><br/>
<span style="font-weight: bolder">&gt;</span>
<span id="promptText"></span>
<span class="flash">_</span>
</p>

<div>
<a class="button button-filled" target="_blank" href="https://github.com/jellyterra">VIEW GITHUB PROFILE</a>
<a class="button" target="_blank" href="/blog/">VIEW BLOG</a>
</div>
</div>

<div class="footer-icon-list monochrome-invert" style="position: absolute; bottom: 150px">
{{ range .footer.media }}
<a class="footer-icon" target="_blank" href="{{ .link }}">
<img src="https://simpleicons.org/icons/{{ .icon }}.svg" alt="{{ .icon }}"/>
</a>
{{ end }}
</div>

</div>

{{ $flip := false }}

{{ define "flip" }}{{ if . }}filled left{{ else }}right{{ end }}{{ end }}

{{ $flip = not $flip }}
<section class="{{ template "flip" $flip }}">
<div class="content-1">{{ render.FileByExtName "sections/profile.md" }}</div>
<div class="content-2"><img src="/assets/img/avatar_round.png"/></div>
</section>

{{ $flip = not $flip }}
<section class="{{ template "flip" $flip }}">
<div class="content-1">{{ render.FileByExtName "sections/bookshelf.md" }}</div>
<div class="content-2">{{ render.FileByExtName "sections/booklist.md" }}</div>
</section>

{{ $flip = not $flip }}
<section class="{{ template "flip" $flip }}">
<div class="content-1">{{ render.FileByExtName "sections/lost_found.md" }}</div>
<div class="content-2">{{ render.FileByExtName "sections/lost_list.md" }}</div>
</section>

{{ $flip = not $flip }}
<section class="{{ template "flip" $flip }}">
<div class="content-1">{{ render.FileByExtName "sections/code_status.md" }}</div>
<div class="content-2">
<img alt="GitHub Stats" width="50%" title="Jelly Terra's Stats" src="https://github-readme-stats.vercel.app/api?username=jellyterra&show_icons=true&theme=radical"/>
<img alt="WakaTime" width="50%" title="Jelly Terra's WakaTime" src="https://github-readme-stats.vercel.app/api/wakatime?username=jellyterra&layout=compact"/>
</div>
</section>

{{ $flip = not $flip }}
<section class="{{ template "flip" $flip }}">
<div class="content-1">{{ render.FileByExtName "sections/more.md" }}</div>
<div class="content-2"><img style="filter: invert(100%)" height="70%" src="https://pagine.symboltics.com/templates/genesis/img/pagine_mono.svg" alt="Pagine Logo"/></div>
</section>

<div style="text-align: center">
<div style="height: 30vh"></div>
<h1 style="font-size: 250%">踏雪留痕，寻梅采香</h1>
<div style="height: 5vh"></div>
<a class="button button-filled" target="_blank" href="https://github.com/jellyterra">CHECK MORE ON MY GITHUB</a>
<div style="height: 30vh"></div>
</div>
