@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
@import url("https://fonts.googleapis.com/css2?family=Montserrat");

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.dark .astro-code,
.dark .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;

    @apply bg-fixed duration-200 bg-light dark:bg-dark dark:text-white;
}

code {
    font-family: 'Droid Sans Mono', monospace;
}

.card {
    @apply p-10 rounded-2xl bg-opacity-80 dark:bg-opacity-80 bg-light dark:bg-dark duration-200 shadow hover:shadow-xl dark:shadow-blue-500 dark:hover:shadow-blue-300;
}

.color-fill {
    @apply bg-[#ff006a] text-white;
}

.color-button-fill {
    @apply bg-[#ff006a] text-white hover:bg-[#f58];
}

.color-button {
    @apply bg-[#ccc] hover:bg-[#ddd] dark:bg-[#2a2a2e] dark:hover:bg-black;
}

li {
    list-style: disc;
    margin-left: 20px;
}
