@import url("https://fonts.googleapis.com/css2?family=Noto+Sans");

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;

    @apply bg-fixed duration-200 bg-light dark:bg-dark dark:text-white;
}

.bg-opacity {
    @apply bg-opacity-80 dark:bg-opacity-80;
}

.card {
    @apply p-10 rounded-2xl bg-opacity-80 dark:bg-opacity-80 bg-light dark:bg-dark duration-200 shadow hover:shadow-xl dark:shadow-blue-500 dark:hover:shadow-blue-300;
}
