---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import { HEADER } from "../../consts";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead title="Series"/>
</head>
<body>
<Header header={HEADER}/>
</body>
</html>
