---
import PostEntry from "./PostEntry.astro";

const {collection, prefix} = Astro.props
---

<div class="flex flex-col gap-5 min-h-screen">
    {
        collection.reverse().map((entry: any) => (
                <PostEntry entry={entry} prefix={prefix}/>
        ))
    }
</div>