---
interface Astro {
    title: string
    href: string
}

const {title, href, ...rest} = Astro.props
---

<a class:list={["select-none rounded-l-full rounded-r-full pt-2 pb-2 pl-5 pr-5 font-bold duration-200 shadow hover:shadow-xl", rest["class"]]}
   href={href}>{title}</a>
